$blueBtn: #558cb7;
$greenBtn: #007b1b;
$okStatus: #007b1b;
$errorStatus: #9f2b11;
$bgColor: #e5e5e5;
$white: #fff;
$inputFocus: #82b3d9;
$closeBtn: #c4c4c4;

$fontsize: 16px;


$md1:1200px;
$md2:991px;
$md3:767px;
$md4:479px;

$maxWidth: 1440px;
$containerMaxWidth: 1270px;

