main.page-form
	.page-form__container.container 
		form(action="#").page-form__form.form
			h3.form__title Регистрация
			.form__item 
				label(for="forEmail").form__label E-mail
				input(type="text" id="forEmail" name="email").form__input
				p.form__item-error Введите email
			.form__item 
				label(for="forName").form__label Никнейм
				input(type="text" id="forName" name="name").form__input
				p.form__item-error Никнейм должен содержать 3-40 символов, начинаться с заглавной буквы, цифру, латиница
			.form__item 
				label(for="forPassword").form__label Пароль
				input(type="text" id="forPassword" name="password").form__input
			.form__info 
				.form__info-title Пароль должен содержать:
				.form__info-text.length от 6 до 32 символов 
				.form__info-text.num цифру
				.form__info-text.Up заглавную и строчкую буквы
			.form__item 
				label(for="forPasswordConfirm").form__label Пароль ещё раз
				input(type="text" id="forPasswordConfirm" name="passwordConfirm").form__input 
				p.form__item-error Введённые пароли не совпадают
			.form__checkbox 
				input(type="checkbox" id="forLicenseAgreement" name="licenseAgreement").form__input-checkbox
				label(for="forLicenseAgreement").form__label-checkbox Я принимаю условия 
					a(href="" target="_blank") Пользовательского соглашения 
			button(disabled).form__btn.btn Далее
			.form__close
		form(action="#").page-form__form2.form
			h3.form__title Шаг2
			.form__radio
				label.form__label-radio Мужской
					input(type="radio" name="sex" value="man").form__input-radio
				label.form__label-radio Женский
					input(type="radio" name="sex" value="woman").form__input-radio
			.form__select 
				h6.form__select-title Выберете Ваше образование
				select(name="education") 
					option(value="higher education" selected) Высшее
					option(value="secondary special") Средне специальное
					option(value="school") Школа
			.form__textarea 
				textarea(name="about", rows="5") 
			.form__checkbox 
				h6.form__checkbox-title  Выберете категорию 
				input(type="checkbox" name="politics" id="forPolitics").form__input-checkbox
				label(for="forPolitics").form__label-checkbox Политика
				input(type="checkbox" name="economy" id="forEconomy").form__input-checkbox 
				label(for="forEconomy").form__label-checkbox Экономика
				input(type="checkbox" name="incidents" id="forIncidents").form__input-checkbox 
				label(for="forIncidents").form__label-checkbox Происшествия
			button.form__btn.btn.active Зарегистрироваться 
			.form__close
		button.page-form__btn.btn Регистрация
			